{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {% if title %}
  <title>Awards - {{title}}</title>
  {% else %}
  <title> Awards </title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
  {% endblock %}

</head>
<body>
  {% include "navbar.html" %}
    {% block content %}
     <!-- <h1 class='text-center' style="font-style: italic;" >Awards</h1> -->
     <img src="https://thumbs.dreamstime.com/b/best-award-badge-logo-design-five-star-vector-illustration-isolated-white-background-200411183.jpg" style="height: 10%;width: 10%;margin-left: 40%;margin-top: 1px;">
      {%endblock%}

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
    {% endblock %}
</body>
</html>