{% extends 'base.html' %}
{% block content %}
{{block.super}}
<div>

    
  <br><br>
    <div class="container-fluid">
      <div class="row">
        {% for project in my_projects %}
        <div class="col-md-4">
          <div class="card-group">
            <div class="card mb-4">
                <img src="{{project.image_url}}" alt=".">
                
  
              <div class="card-body">
                <h3 style="font-family: sans-serif;">{{project.title}}</h3>
  
                <a href="{{project.link}}" target="_blank">view site</a>
  
                <p class="card-text"><b>project description:</b>{{project.description}}</p>
              
                <hr>
                <span><a href="profile"> <img style="border-radius: 50%; width:30px; height:30px; "
                      src="{{project.avatar }}" alt="image"></a>By
                  <b>{{project.author}}</b></span>
  
                <p class="card-meta float-right">{{project.date_created}}</p>
  
              </div>
            </div>
          </div>
  
  
        </div>
        {% endfor %}
  
      </div>
  
    </div>
  
  </div>
{% endblock %}
